<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated pcmbpoptions -->
      <factory
            uri="http://toometa.de/pcmbpoptions/0.1"
            class="pcmbpoptions.provider.PcmbpoptionsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated pcmbpoptions -->
      <extender
            uri="http://sdq.ipd.kit.edu/QML/dimensiontypes/1.0"
            class="pcmbpoptions.provider.PcmbpoptionsItemProviderAdapterFactory$DimensiontypesChildCreationExtender"/>
      <extender
            uri="http://toometa.de/options/0.6"
            class="pcmbpoptions.provider.PcmbpoptionsItemProviderAdapterFactory$OptionsChildCreationExtender"/>
   </extension>

</plugin>
