<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated options -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="options.presentation.OptionsModelWizardID"
            name="%_UI_OptionsModelWizard_label"
            class="options.presentation.OptionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OptionsModelFile.gif">
         <description>%_UI_OptionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated options -->
      <editor
            id="options.presentation.OptionsEditorID"
            name="%_UI_OptionsEditor_label"
            icon="icons/full/obj16/OptionsModelFile.gif"
            extensions="options"
            class="options.presentation.OptionsEditor"
            contributorClass="options.presentation.OptionsActionBarContributor">
      </editor>
   </extension>

</plugin>
