<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated decisions -->
      <package
            uri="http://toometa.de/decisions/0.6"
            class="decisions.DecisionsPackage"
            genModel="model/decisions.genmodel"/>
   </extension>

</plugin>
